* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  height: 100vh;
  @media (max-width: 768px){
    grid-template-columns: 1fr;
  }
}

.column {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#left-column {
  background-color: white;
  @media (max-width: 768px){
   display:none;
  }
}

#center-column {
  background-color: lightgrey;
  overflow-y: auto;
  position: relative;
}

#right-column {
  background-color: white;
  @media (max-width: 768px){
   display:none;
  }
}

#timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.timeline-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
  position: relative;
}

.timeline-item:nth-child(odd) {
  justify-content: flex-start;
}

.timeline-item:nth-child(even) {
  justify-content: flex-end;
}

.timeline-item-content {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  border: 2px solid #333;
  max-width: 45%;
  position: relative;
  @media (max-width: 768px){
    max-width: 100%;
  }
}

#timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  border-radius: 4px;
  height: 100%;
  background-color: #333; /* Darker timeline line */
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-item-content p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

